<nav class="navbar has-background-black" role="navigation" aria-label="main navigation" style="border-bottom: 4px solid #b91c1c;">
    <div class="container is-max-widescreen navbar-brand">
        <a class="navbar-item" href="/playlists">
          <img src="/assets/gp/qube.gif" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" style="scale: 1.12;">
          <h1 class="ml-2 title is-4 has-text-weight-bold has-text-white" style="scale: 1.2;">EPI</h1>
        </a>
    </div>
  </nav>