<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/gp/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/gp/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/gp/favicon-16x16.png">
  <link rel="manifest" href="/assets/gp/site.webmanifest">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Create</title>
</head>

<body style="background-color: rgb(18, 18, 18); width: 100vw; height: 100vh; font-family: 'Montserrat';">
  <%- include('./nav') %>

  <div class="container has-background-black-ter" style="box-shadow: 0px 0px 100px black;">
    <div class="block p-6">
      <h class="title is-4 has-text-weight-bold has-text-danger-dark"><%-server%></h><br>
      <a class="is-dark has-text-danger-dark" href="<%-newLink%>"><%-change %></a><br><br>

      <h class="title is-2 has-text-white has-text-weight-light">Upload a playlist</h><br><br>
      <div class="buttons">
        <a href="/create?r=one" class="button is-dark">One</a>
        <a href="/create?r=two" class="button is-dark">Two</a>
        <a href="/create?r=three" class="button is-dark">Three</a>
        <a href="/create?r=four" class="button is-dark">Four</a>
        <a href="/create?r=five" class="button is-dark">Five</a>
      </div><br>
      <h class="title is-3 has-text-white has-text-weight-light">Preview a playlist</h><br><br>

      <div class="select">
        <select id="presents" class="has-text-grey-lighter has-background-dark">
          <option value="/present?r=one">Playlist One</option>
          <option value="/present?r=two">Playlist Two</option>
          <option value="/present?r=three">Playlist Three</option>
          <option value="/present?r=four">Playlist Four</option>
          <option value="/present?r=five">Playlist Five</option>
        </select>
      </div>
      <br><br>

      <div class="block is-fullwidth" style="scale: .5; max-height: 405px; transform-origin: top left;">
        <iframe id="preview" class="" src="/present?r=one" width="1439" height="810"></iframe>
      </div>
    </div>
    <p class="has-text-centered has-text-white">
      Fragen, Probleme oder Verbesserungvorschläge? Schreib uns gerne an <strong class="has-text-white">epi@bild.de</strong><br><br><br>
    </p>

  </div>

  <script>
    // Function to be triggered on change
    function handleSelectChange() {
      // Get the selected value
      var selectedValue = document.getElementById("presents").value;
      document.getElementById('preview').src = selectedValue

      // Do something with the selected value (e.g., navigate to the selected URL)
      console.log("Selected Value:", selectedValue);
    }

    // Add event listener to the select element
    document.getElementById("presents").addEventListener("change", handleSelectChange);
  </script>

</body>


</html>