<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/gp/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/gp/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/gp/favicon-16x16.png">
  <link rel="manifest" href="/assets/gp/site.webmanifest">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Playlists</title>
</head>

<body style="background-color: rgb(18, 18, 18); width: 100vw; height: 100vh; font-family: 'Montserrat'; background-image: url(assets/gp/homebg3.jpg); background-size: cover; background-position: top;">
  <%- include('./nav') %>
  <div class="container my-4 is-max-widescreen" style="box-shadow: 0px 0px 100px black; border: 1px solid rgba(194, 194, 194, .2); border-radius: 6px; overflow: clip; backdrop-filter: blur(80px); background-color: rgba(10, 10, 10, 0.6); ">
    <div class="block p-6">
      <h class="title is-4 has-text-weight-bold has-text-danger-dark"><%-server%></h><br>
      <a class="is-dark has-text-danger-dark" href="<%-newLink%>"><%-change %></a><br><br>

      <h class="title is-3 has-text-white has-text-weight-light">Upload</h><br><br>
      <div class="buttons">
        <a href="/playlists?p=1" class="button is-dark has-background-black-ter"><span class="has-text-weight-bold">1</span> <span class="has-text-danger-dark has-text-weight-medium p-2">UKRAINE</span></a>
        <a href="/playlists?p=2" class="button is-dark has-background-black-ter"><span class="has-text-weight-bold">2</span> <span class="has-text-danger-dark has-text-weight-medium p-2">NAHOST</span></a>
        <a href="/playlists?p=3" class="button is-dark has-background-black-ter"><span class="has-text-weight-bold">3</span> <span class="has-text-danger-dark has-text-weight-medium p-2">SPEZIAL I</span></a>
        <a href="/playlists?p=4" class="button is-dark has-background-black-ter"><span class="has-text-weight-bold">4</span> <span class="has-text-danger-dark has-text-weight-medium p-2">SPEZIAL II</span></a>
        <a href="/playlists?p=5" class="button is-dark has-background-black-ter"><span class="has-text-weight-bold">5</span> <span class="has-text-danger-dark has-text-weight-medium p-2">SPEZIAL III</span></a>
      </div><br>
      <h class="title is-3 has-text-white has-text-weight-light">Preview</h><br><br>

      <div class="select">
        <select id="presents" style="border: none; outline: none;" class="has-text-grey-lighter has-background-dark">
          <option value="/present?p=1">1 UKRAINE</option>
          <option value="/present?p=2">2 NAHOST</option>
          <option value="/present?p=3">3 SPEZIAL I</option>
          <option value="/present?p=4">4 SPEZIAL II</option>
          <option value="/present?p=5">5 SPEZIAL III</option>
        </select>
      </div> 
      <br><br>

      <div class="block is-fullwidth" style="scale: .5; max-height: 405px; transform-origin: top left;">
        <iframe id="preview" class="" src="/present?p=1" width="1439" height="810" style="border-radius: 6px; overflow: clip; box-shadow: 0px 0px 100px black;"></iframe>
      </div>
    </div>
    <p class="has-text-centered has-text-grey">
      Fragen, Probleme oder Verbesserungvorschläge? Schreib uns gerne an <strong class="has-text-grey">epi@bild.de</strong><br><br><br>
    </p>

  </div>

  <script>
    // Function to be triggered on change
    function handleSelectChange() {
      // Get the selected value
      var selectedValue = document.getElementById("presents").value;
      document.getElementById('preview').src = selectedValue

      // Do something with the selected value (e.g., navigate to the selected URL)
      console.log("Selected Value:", selectedValue);
    }

    // Add event listener to the select element
    document.getElementById("presents").addEventListener("change", handleSelectChange);
  </script>

</body>


</html>